@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Quicksand&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  z-index: 0;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
  background-color: aliceblue;
}

header {
  height: 100%;
  width: 100%;
  padding: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #0077BE;
  background-color: aquamarine;
}
header h1 {
  font-family: 'Englebert', sans-serif;
}
.logo {
  width: 50px;
}


.input-form-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.input-form {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.input-form input {
  width: 60%;
  padding: 15px;
  border-radius: 15px;
  font-size: 20px;
}

.input-form button {
  width: auto;
  padding: 10px;
  border-radius: 15px;
  font-size: 20px;
  background-color: rgba(11,146,175,1);
}

.input-form button:hover {
  transition: 0.2s all;
  background-color: rgb(9, 110, 133);
}

.input-form button:active {
  transform: scale(0.9);
  color: white;
}

.result-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 15px;
  background-color: chartreuse;
}

@media (min-width: 768px) {
  .wrapper {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 60%;
  }
}


.search-by-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search-by-wrapper h3 {
  word-spacing: 50px;
}
.search-by-wrapper button {
  position: absolute;
  display: block;
  width: 25px;
  height: 25px;
  top: -25%;
  border-radius: 50%;
}
.search-by-wrapper span {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #ffeba7;
}


.scene {
  width: 100%;
  height: 150px;
  perspective: 750px;
  margin-bottom: 15px;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.flip {
  transform: rotateY(180deg);
}

.flip-button {
  background-color: aqua;
  transition: all 0.5s ease;
}

.flip2 {
  transform: translateX(44px) rotate(-270deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card__face--front {
  background: red;
}

.card__face--back {
  background: blue;
  transform: rotateY(180deg);
}