@import url('https://fonts.googleapis.com/css2?family=Englebert&family=Quicksand:wght@300;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

.App {
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.wrapper {
  z-index: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 50px;
}

header {
  height: 100%;
  width: 100%;
  padding: 35px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: powderblue;
}
.logo {
  width: 50px;
}


.input-form-wrapper {
  width: 95%;
  display: flex;
  flex-direction: column;
  row-gap: 25px;
}

.input-form {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
}

.input-form input {
  width: 95%;
  padding: 15px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
}

.input-form button {
  width: 30%;
  padding: 10px;
  border-radius: 15px;
  border: none;
  font-size: 20px;
  color: white;
  background-color: black;
}

.input-form button:hover {
  transition: 0.2s all;
  background-color: #0077BE;
}

.input-form button:active {
  transform: scale(0.9);
}

.result-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 15px;
  margin-top: 15px;
  background-color: chartreuse;
}

@media (min-width: 768px) {
  .wrapper {
    width: 70%;
  }
}
@media (min-width: 1024px) {
  .wrapper {
    width: 60%;
  }
}


.search-by-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.search-by-wrapper h3 {
  word-spacing: 50px;
  text-transform: uppercase;
  font-weight: 700;
}
.search-by-wrapper span {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 15px;
  border-radius: 8px;
  margin: 20px auto;
  background-color: #0077BE;
}


.scene {
  width: 100%;
  height: 300px;
  perspective: 750px;
  margin-bottom: 15px;
}

.card {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
}

.flip {
  transform: rotateY(180deg);
}

.flip-button {
  position: absolute;
  display: block;
  width: 30px;
  height: 30px;
  top: -50%;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: black;
  color: #fff;
  transition: all 0.5s ease;
}

.flip2 {
  transform: translateX(44px) rotate(-270deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: 5%;
  background-color: powderblue;
}

.card__face--back {
  transform: rotateY(180deg);
}